<style>
    body {
        padding-top: 70px;
        background: url('/assets/img/bg-masthead.jpg') no-repeat center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center; /* في النص أفقي */
        align-items: center; /* في النص رأسي */
    }

    .login-box {
        background: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 10px;
        width: 300px;
    }
</style>

<div class="login-box">
    <form method="post" asp-action="Login" asp-controller="Home" asp-area="Customer">
        
        <div class="mb-3">
            <label class="form-label">Your Code</label>
            <input class="form-control" name="studentCode" />
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
        <a href="/Customer/Home/Index" class="btn btn-secondary w-100 mt-2">Back</a>
    </form>

    @if (ViewBag.Error != null)
    {
        <div class="text-danger mt-2">@ViewBag.Error</div>
    }
</div>