@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-10">
    <label for="studentCode" class="form-label">Your Code</label>
    <input class="form-control" id="studentCode" name="StudentCode" />
</div>